
.desktop-header {
    width: 100%;
    min-height: 80px;
    align-items: center;
    justify-content: space-between;

    > .left-header {

    }

    > .logo-header {

    }

    > .rigth-header {

    }


}