
.desktop-header {
    width: 100%;
    min-height: 80px;
    align-items: center;
    justify-content: space-between;

    > .left-header {
        width: 150px;
    }

    > .logo-header {
        font-size: 2rem;
        text-align: center;
        padding: 20px 30px;
    }

    > .rigth-header {
        width: 150px;
    }


}